<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="my-2 border rounded bg-light px-5 d-flex justify-content-between"
        >
          <ul class="list-group flex flex-row">
            <li>
              <a
                class="fw-bold p-3 d-block border-start border-end active"
                [routerLink]="['/']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <li>
              <a
                class="fw-bold p-3 d-block border-end"
                [routerLink]="['/users']"
                routerLinkActive="active"
                >Users</a
              >
            </li>
            <li>
              <a
                class="fw-bold p-3 d-block border-end"
                [routerLink]="['/posts']"
                routerLinkActive="active"
                >Posts</a
              >
            </li>
            <li>
              <a
                class="fw-bold p-3 d-block border-end"
                [routerLink]="['/tags']"
                routerLinkActive="active"
                >Tags</a
              >
            </li>
            <li>
              <a
                class="fw-bold p-3 d-block border-end"
                [routerLink]="['/about']"
                routerLinkActive="active"
                >About</a
              >
            </li>
          </ul>
          <ul class="list-group flex flex-row">
            <li>
              <button
                class="btn btn-primary fw-bold p-3 d-block border-start border-end"
                (click)="onLogin()"
              >
                Login
              </button>
            </li>
            <li>
              <a
                class="btn btn-secondary fw-bold p-3 d-block border-end"
                (click)="onLogout()"
              >
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
