<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="my-2 border rounded bg-light px-5">
          <ul class="list-group flex flex-row">
            <li>
              <a
                class="fw-bold p-3 d-block border-start border-end active"
                href="#"
                >Home</a
              >
            </li>
            <li>
              <a class="fw-bold p-3 d-block border-end" href="#">Users</a>
            </li>
            <li>
              <a class="fw-bold p-3 d-block border-end" href="#">Posts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <app-home></app-home>
  <hr />
  <app-users-list></app-users-list>
  <hr />
  <app-posts-list></app-posts-list>
</main>
